@import "hover-img.css";
body {
    background-color: #333;
}


/* New Release */

#new-release img {
    width: 70px;
    height: 70px;
}

#new-release table thead {
    color: white;
}

#new-release table td a {
    text-decoration: none;
    color: white;
}

#new-release table td a.music:hover {
    text-decoration: none;
    color: white;
    border: #007bff 1px solid;
    padding: 5px;
    background-color: #007bff;
    border-radius: 4px;
}

#new-release table td a.artist:hover {
    text-decoration: none;
    color: white;
    border: #28a745 1px solid;
    padding: 5px;
    background-color: #28a745;
    border-radius: 4px;
}

#new-release table td img:hover {
    padding: 5px;
}

#album img {
    width: 250px;
    height: 250px;
}


footer {
    margin-bottom: 25px;
}